.contents

  .sidebar
    .leftHeader
      %h3.leftName
        = current_user.name
      %ul.header_list
        %li.list
          = fa_icon 'pencil-square-o'
        %li.list
          = link_to edit_user_path do
            = fa_icon 'cog', class: 'icon'
    .groupsMenu
      %p.group ここにグループ名
      %p.message ここに最新メッセージ表示

      %p.group2 ここにグループ名2
      %p.message2 ここにメッセージ2


  .chat
    .chat__header
      .left
        .left__name ここに名前
        %ul.members Member:
        %li.members ここに名前


      .chat__right
        %p.rightContent Edit

    .main
      .main__chatmessages
        .upper
          .upper__chatmessage ここに名前
          .upper__date 20xx/xx/xx xx:xx:xx
        .lower
          .lower__usermessages ここにメッセージ

    .form
      %input
      %div.icon
        = fa_icon 'picture-o'

      .btn Send

