.contents

  .side-bar
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o'
        %li.list
          = link_to edit_user_registration_path do
            = fa_icon 'cog', class: 'icon'
    .groups
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。

  .chat
    .header
      .left-header
        .left-header__title ここにタイトル
        .left-header__members
          %ul.member Member:
          %li.member ここに名前


      .right-header
        %p.right-header__button Edit

    .messages
      .message
        .upper-message
          .upper-message__user-name ここに名前
          .upper-message__date 20xx/xx/xx xx:xx:xx
        .lower-message
          .lower-message__content ここにメッセージ

    .form
      .form__message
      .form__mask
        .form__image
          = fa_icon 'picture-o'
        .hidden

      .form__submit Send
